@model ClosetProjectWeek6.Models.Top

@{
    ViewBag.Title = "Details";
}

@* In each Deatails file I change the formatting and layout of the stardard shape by adding rows to float the
    image and text left and right. I also added classes so that I could format the image and the test. Finally I remomved the
    "@Html.DisplayNameFor each model to clean it up a big" *@
<h2>Tops</h2>

<h4>Item Details</h4>
    <p>
        <button>  @Html.ActionLink("Edit", "Edit", new { id = Model.TopID })</button>
        <button> @Html.ActionLink("Back to List", "Index") </button>
        <button>@Html.ActionLink("Delete", "Delete", new { id = Model.TopID })</button>
    </p>

<div class="row detailsRow">

    <div class="col-md-8">
        <dl class="dl-horizontal detailsSideL">

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Season)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Occasion)
            </dd>
        </dl>
        <div class="col-md-4 detailsImg">
            <img src="@Html.DisplayFor(model => model.Photo)" />
        </div>
    </div>
</div>

