@model ClosetProjectWeek6.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Bottoms</h2>

<div>
    <h4>Item Details</h4>

    <p>
        <button> @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID })</button>
        <button>@Html.ActionLink("Back to List", "Index") </button>
    </p>

    <div class="row detailsRow">
        <div class="col-md-8">
            
                <dl class="dl-horizontal detailsSideL">
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Color)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Season)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Occasion)
                    </dd>
                </dl>
                <div class="col-md-4 detailsImg">
                    <img src="@Html.DisplayFor(model => model.Photo)" />
                </div>
            </div>
        </div>
    </div>


